Repository open-hand/code-repo-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

Path conditions:
  build front: not (any of: pom.xml, src/**/*, docker/**/*, chart/**/*, init-database.sh, .circleci/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  build backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  release backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)

[IMP] 修改角色标签初始化数据
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_platform/hzero-menu-user-role-label.xlsx
Due: build backend, release backend

[FIX] 修改execl
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_platform/hzero-menu-user-role-label.xlsx
Due: build backend, release backend

[REF] 修改菜单标签
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_platform/hzero-menu-user-role-label.xlsx
Due: build backend, release backend

[ADD] 新增菜单ICON
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_platform/hzero-menu-user-role-label.xlsx
Due: build backend, release backend

[FIX] 修改pom
  pom.xml
Due: build backend, release backend

[REF] 修改pom
  pom.xml
Due: build backend, release backend

[REF] 修改execl
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_platform/hzero-menu-user-role-label.xlsx
Due: build backend, release backend

[FIX] 增加日志
  pom.xml
  src/main/java/org/hrds/rducm/gitlab/app/job/ExpiredMembersJob.java
Due: build backend, release backend

[FIX] 删除无用代码
  src/main/java/org/hrds/rducm/gitlab/app/job/ExpiredMembersJob.java
Due: build backend, release backend

[REF] 修复过期提醒
  src/main/java/org/hrds/rducm/gitlab/app/job/ExpiredMembersJob.java
Due: build backend, release backend

[FIX] 修改package
  package.json
  react/.env
Due: build front

[REF] 增加跳转链接
  src/main/java/org/hrds/rducm/gitlab/domain/facade/impl/MessageClientFacadeImpl.java
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_message/hzero-data-message.xlsx
Due: build backend, release backend

[FIX]修改pom
  pom.xml
Due: build backend, release backend

[IMP] 修改个人菜单名
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_platform/hzero-menu-user-role-label.xlsx
Due: build backend, release backend

[FIX] 异步处理批量用户权限添加
  pom.xml
  src/main/java/org/hrds/rducm/gitlab/app/eventhandler/RdmMemberChangeSagaHandler.java
  src/main/java/org/hrds/rducm/gitlab/app/eventhandler/constants/SagaTaskCodeConstants.java
  src/main/java/org/hrds/rducm/gitlab/app/eventhandler/constants/SagaTopicCodeConstants.java
  src/main/java/org/hrds/rducm/gitlab/app/service/impl/RdmMemberAppServiceImpl.java
  src/main/java/org/hrds/rducm/gitlab/infra/util/JsonHelper.java
Due: build backend, release backend

[IMP] check-permission接口添加tenantId参数
  package.json
  react/utils/index.js
Due: build front

[FIX] 修复消息发送
  src/main/java/org/hrds/rducm/gitlab/domain/facade/impl/MessageClientFacadeImpl.java
Due: build backend, release backend

[IMP] 修改初始化配置
  src/main/resources/script/db/service-mapping.xml
Due: build backend, release backend

[FIX] 修复NPE
  pom.xml
  src/main/java/org/hrds/rducm/gitlab/domain/service/impl/MemberPermissionRepairServiceImpl.java
Due: build backend, release backend

[FIX] 修改文案
  react/locale/zh_CN.js
Due: build front

Update package.json
  package.json
Due: build front

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

[FIX] 修复代码库的好多bug
  react/locale/zh_CN.js
  react/routes/code-lib/code-lib-audit/ps-audit/index.less
  react/routes/code-lib/code-management/main-view/index.less
  react/routes/code-lib/code-management/main-view/modals/add-member/Content.js
  react/routes/code-lib/code-management/main-view/modals/add-member/index.less
  react/routes/code-lib/code-management/main-view/modals/add-member/stores/FormDataSet.js
  react/routes/code-lib/code-management/main-view/ps-set/PsSet.js
  react/routes/code-lib/code-management/main-view/stores/BranchServiceDataSet.js
  react/routes/code-lib/code-management/main-view/stores/index.js
Due: build front

[FIX] 修复修改svn之后数据消失得问题
  react/routes/personal-setting/svn-setting/BaseInfo.js
  react/routes/personal-setting/svn-setting/EditPassword.js
Due: build front

[FIX] 修复应用市场导入应用服务权限问题
  src/main/java/org/hrds/rducm/gitlab/app/eventhandler/RdmRepositorySagaHandler.java
  src/main/java/org/hrds/rducm/gitlab/app/eventhandler/constants/SagaTopicCodeConstants.java
Due: build backend, release backend

[REF] 加上ldap
  src/main/java/org/hrds/rducm/gitlab/api/controller/dto/base/BaseC7nUserViewDTO.java
Due: build backend, release backend

[FIX] 角色分配排除自定义角色的gitlab owner
  src/main/java/org/hrds/rducm/gitlab/api/controller/v1/ProjectController.java
  src/main/java/org/hrds/rducm/gitlab/domain/facade/C7nBaseServiceFacade.java
  src/main/java/org/hrds/rducm/gitlab/domain/facade/impl/C7NBaseServiceFacadeImpl.java
  src/main/java/org/hrds/rducm/gitlab/infra/feign/BaseServiceFeignClient.java
  src/main/java/org/hrds/rducm/gitlab/infra/feign/fallback/BaseServiceFeignClientFallBackFactory.java
Due: build backend, release backend

[IMP] 修改前端配置
  .eslintrc.js
  .eslintrc.json
  .gitlab-ci.yml
  package.json
Due: none

[IMP] update package.json
  package.json
Due: build front

[FIX] 增加模板
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_message/hzero-data-message.xlsx
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_platform/code-message-category-lov.xlsx
Due: build backend, release backend

[FIX] 修改execl
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_message/hzero-data-message-template-open.xlsx
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_message/hzero-data-message.xlsx
Due: build backend, release backend

[FIX] 增加消息发送的代码
  src/main/java/org/hrds/rducm/gitlab/app/service/impl/RdmMemberApplicantAppServiceImpl.java
  src/main/java/org/hrds/rducm/gitlab/domain/facade/MessageClientFacade.java
  src/main/java/org/hrds/rducm/gitlab/domain/facade/impl/MessageClientFacadeImpl.java
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_message/hzero-data-message-template-open.xlsx
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_platform/code-message-category-lov.xlsx
Due: build backend, release backend

[FIX] 修改execl
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_message/hzero-data-message-template-open.xlsx
Due: build backend, release backend

[FIX]更新包版本
  .yarnrc
  package.json
  tsconfig.json
Due: build front

[IMP] 修改配置
  react/config.js
Due: build front
