Repository open-hand/code-repo-service: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build front, build backend, release backend

build front:
  stage: build
  script:
  - npm install --registry ${NPM_REPO} --sass-binary-site=http://npm.taobao.org/mirrors/node-sass
  - chmod -R 755 node_modules
  - npm run compile
  - echo "//${NPM_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
  - npm publish --registry ${NPM_PUBLISH_REGISTRY}
  ...

build backend:
  stage: build
  script:
  - update_pom_version
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent test -Dmaven.test.failure.ignore=true -DskipTests=true -U
  ...

release backend:
  stage: release
  script:
  - chart_build

[FIX]修改样式问题
  react/routes/code-lib/code-management/main-view/index.less
Due: build front

[FIX] 修改execl
  src/main/resources/script/db/init-data/hrds_code_repo/hzero_platform/hzero-menu-user-role-label.xlsx
Due: build backend, release backend

[FIX] fix some styles
  react/components/new-tips/index.less
  react/index.less
  react/routes/code-lib/code-management/main-view/index.less
Due: build front

[FIX] fix some styles
  react/routes/code-lib/code-management/main-view/index.less
Due: build front

[FIX]修改权限集问题
  react/routes/code-lib/code-management/main-view/MainView.js
  react/routes/code-lib/code-management/main-view/stores/index.js
Due: build front

[FIX] 增加驳回原因字数限制
  src/main/java/org/hrds/rducm/gitlab/app/service/impl/RdmMemberApplicantAppServiceImpl.java
  src/main/resources/messages/messages_en_US.properties
  src/main/resources/messages/messages_zh_CN.properties
Due: build backend, release backend

[FIX]修改代码库问题
  react/routes/code-lib/code-management/main-view/modals/Modals.js
  react/routes/code-lib/code-management/main-view/modals/ps-apply/Content.js
  react/routes/code-lib/code-management/main-view/ps-approval/BatchApprove.js
Due: build front

[FXI] fix some styles
  react/components/empty/index.less
  react/components/user-avatar/UserAvatar.js
  react/index.less
  react/routes/code-lib/code-lib-audit/Container.js
  react/routes/code-lib/code-lib-audit/TimeLine/log.less
  react/routes/code-lib/code-lib-audit/index.less
  react/routes/code-lib/code-lib-audit/ps-audit/index.less
  react/routes/code-lib/code-management/main-view/index.less
  react/routes/code-lib/code-management/main-view/modals/Modals.js
  react/routes/code-lib/code-management/main-view/modals/add-outside-member/index.less
  react/routes/code-lib/code-management/main-view/modals/apply-detail/index.less
  react/routes/code-lib/code-management/main-view/modals/import-member/ImportRoleSider.js
  react/routes/code-lib/code-management/main-view/modals/import-member/index.less
  react/routes/code-lib/code-management/main-view/modals/ps-approval/index.less
  react/routes/code-lib/code-management/main-view/operation-log/log.less
  react/routes/personal-setting/gitlab-setting/BaseInfo.less
  react/routes/personal-setting/prod-setting/BaseInfo.less
  react/routes/personal-setting/svn-setting/BaseInfo.less
Due: build front

[FIX] 增加模糊搜索
  src/main/java/org/hrds/rducm/gitlab/api/controller/v1/RdmMemberOrgController.java
  src/main/java/org/hrds/rducm/gitlab/app/service/impl/RdmMemberAppServiceImpl.java
Due: build backend, release backend

[FIX] fix error
  src/main/java/org/hrds/rducm/gitlab/app/service/impl/RdmMemberAppServiceImpl.java
Due: build backend, release backend

[FIX] 修复审计查询
  src/main/java/org/hrds/rducm/gitlab/domain/service/impl/RdmMemberServiceImpl.java
Due: build backend, release backend

[FIX]修改pom
  pom.xml
  src/main/java/org/hrds/rducm/gitlab/domain/service/impl/RdmMemberServiceImpl.java
Due: build backend, release backend

[FIX] fix styles
  react/components/twoFormSelectEditor/FormSelectEditor.js
  react/components/user-avatar/UserAvatar.js
  react/routes/code-lib/code-lib-audit/ProjectList.js
  react/routes/code-lib/code-management/main-view/modals/export-authority/ExportAuthority.js
  react/routes/code-lib/code-management/main-view/modals/export-authority/index.less
Due: build front

[FIX] fix sths
  react/components/twoFormSelectEditor/FormSelectEditor.js
  react/routes/code-lib/code-management/main-view/stores/index.js
Due: build front

[FIX] 修改pom
  pom.xml
Due: build backend, release backend

[FIX] 修改dockerfile
  docker/Dockerfile
Due: build backend, release backend

[FIX] fix some styles
  react/routes/code-lib/code-lib-audit/ProjectList.js
  react/routes/code-lib/code-management/main-view/modals/Modals.js
Due: build front

[FIX] 增加job
  src/main/java/org/hrds/rducm/gitlab/app/job/MembersAuditJob.java
Due: build backend, release backend

[FIX]平台内所有组织权限修复
  src/main/java/org/hrds/rducm/gitlab/app/job/MembersAuditJob.java
  src/main/java/org/hrds/rducm/gitlab/app/job/MembersPermissionRepairJob.java
  src/main/java/org/hrds/rducm/gitlab/app/service/impl/RdmMemberAuditAppServiceImpl.java
  src/main/java/org/hrds/rducm/gitlab/domain/facade/impl/C7NBaseServiceFacadeImpl.java
  src/main/java/org/hrds/rducm/gitlab/domain/service/impl/MemberPermissionRepairServiceImpl.java
Due: build backend, release backend

Update package.json
  package.json
Due: build front

[FIX] 修改pom
  CHANGELOG.zh-CN.md
  pom.xml
Due: none

[ci skip] update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

[FIX] fix btn
  react/routes/code-lib/code-management/main-view/modals/Modals.js
Due: build front

[FIX] fix btn
  react/routes/code-lib/code-management/main-view/operation-log/index.js
Due: build front

[FIX]修改问题
  react/.env
  react/routes/code-lib/code-management/main-view/MainView.js
  react/routes/code-lib/code-management/main-view/ps-set/PsSet.js
  react/routes/code-lib/code-management/main-view/stores/useStore.js
Due: build front

[FIX] 修改批量审批图表，修改批量审批中过期时间为非必填
  package.json
  react/routes/code-lib/code-management/main-view/modals/Modals.js
  react/routes/code-lib/code-management/main-view/ps-approval/BatchApprove.js
Due: build front

[FIX] 审批权限申请中，不通过原因为必填
  package.json
  react/routes/code-lib/code-management/main-view/modals/ps-approval/index.js
  react/routes/code-lib/code-management/main-view/modals/ps-approval/index.less
Due: build front

Path conditions:
  build front: not (any of: pom.xml, src/**/*, docker/**/*, chart/**/*, init-database.sh, .circleci/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  build backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
  release backend: not (any of: .editorconfig, .eslintrc.json, .stylelintrc.json, gulpfile.js, package.json, react/**/*, .gitignore, .github/**/*, .gitlab-ci.yml, *.md)
